@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

/* RETURN TO TOP BUTTON ============================== */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1031;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* ================================================== */

.black-space {
  height: 1vh;
  margin-top: 0px;
  background-color: black;
}

.parallax {
  background-image: url('../../imgs/gray.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e9ecef;
}

.top-container {
  background-image: url('../../imgs/paw.jpg');
  height: 65vh;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.nav-form {
  position: relative;
  right: 0;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  margin: 0;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-radius: .5em;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-family: Roboto;
}

.nav-link:hover {
  color: gray;
}

.nav-btn {
  font-family: Roboto;
}

.nav-btn:hover {
  background-color: #8bb79c;
}

.demo:hover {
  background-color: #f86f11;
}

.logout-btn:hover {
  background-color: #cf6363;
}

/* ================================================================ */

.page-content {
  margin: 3vh 5vw 3vh 5vw;
  font-size: 20px;
}

#foster-info {
  line-height: 30px;
}

.sec0-img-wrapper {
  text-align: center;
  padding-top: 10vh;
}

.responsive-img {
  height: 65vh;
  width: 70vw;
  margin: 0 auto;
}

/* Bootstrap Input Focus =========================== */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px black;
  outline: 0 none;
}

/* CARDS (IMAGE SLIDER) =================================================== */
.dash-card {
  border: 2px solid #26272b;
  padding: 1vw;
  border-radius: 5px;
  background-color: white;
  color: #26272b;
}

.dash-header {
  text-align: center;
  font-size: 6vh;
  margin-bottom: 2vh;
  color: #26272b;
  font-weight: bold;
}

.card-wrapper {
  margin-top:15px;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.card-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-info {
  text-align:left;
  margin-left:3px;
}

.card-footer {
  margin-top: 3vh;
}

#bold {
  font-weight: bold;
}

.img-slider {
  padding: 5vh 8vw 5vh 8vw;
}
